@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

header {
  background-color: #9453a6;
  font-family: pattaya;
  width: 100%;
  height: 50vh;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerL {
  font-size: 2.5em;
  font-family: henny penny;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.logo {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.headerR {
  font-size: 2.5em;
  font-family: henny penny;
}

.navbar {
  font-size: 1.7em;
  background-color: #9453a6;
}

@media (min-width: 300px) and (max-width: 890px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .headerL {
    font-size: 1.5em;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .headerR {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .rightBanner {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .leftBanner {
    display: none;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .addsContainer {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  #carouselExampleFade {
    height: 35vh;
  }
}

@media (min-width: 300px) and (max-width: 1200px) {
  .sponserPics {
    width: 100% !important;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .navbar-expand .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

@media (min-width: 300px) and (max-width: 890px) {
  .footer-social-links {
    padding-left: 10px;
    padding-top: 10px;
  }
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2] 2fr (1fr)[2];
      grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
  -ms-grid-rows: 2fr 0.5 fr (1fr)[4];
      grid-template-rows: 2fr 0.5 fr repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  background-image: url("/images/slider2.jpg");
}

.leftBanner {
  background-color: #8cbf3f;
  height: 300vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 6 / 2;
}

.leftBanner iframe {
  padding: 5px;
  overflow: auto;
}

.rightBanner iframe {
  padding: 5px;
  overflow: auto;
}

.rightBanner {
  background-color: #f2cc0f;
  height: 300vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1 / 5 / 6 / 6;
}

.slider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 1 / 2 /2 / 5;
}

h1 {
  text-transform: capitalize;
  font-size: 3.5em;
  font-family: sans-serif;
  color: #9453a6;
  font-weight: 900;
  text-align: center;
  margin: 20px;
}

.carousel-inner {
  height: 65vh !important;
}

.carousel-item {
  height: 40vh;
}

.sponsersHeadline {
  text-transform: capitalize;
  padding-top: 35px;
  font-weight: 800;
  text-align: center;
  font-size: 2.5em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2/2/3/5;
  color: #9453a6;
  font-family: roboto;
}

.addsContainer {
  color: #9453a6;
  font-family: roboto;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 3/2/6/5;
  grid-row-gap: 10px;
}

.addsContainer a {
  color: #0d0d0d;
}

.addsContainer a:visited {
  color: #9453a6;
}

.addsLinks1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 3 / 4 / 4 / 5;
  font-size: 2rem;
}

.sponserPics {
  height: 200px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid #9453a6;
}

.addsLinks2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 3 / 3 / 4 / 4;
  font-size: 2rem;
}

.addsLinks3 {
  font-size: 2rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

.addsLinks4 {
  font-size: 2rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4 / 2 / 5 / 3;
}

.addsLinks5 {
  font-size: 2rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 4 / 3 / 5 / 4;
}

.addsLinks6 {
  font-size: 2rem;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 4 / 4 / 5 / 5;
}

.addsLinks7 {
  font-size: 2rem;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5 / 2 / 6 / 3;
}

.addsLinks8 {
  font-size: 2rem;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 5 / 4 / 6 / 5;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer {
  padding: 60px 0;
  width: 100%;
  background: #9453a6;
  color: #f2f2f2;
  font-family: sans-serif;
}

.footer-title {
  position: relative;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4e4e4e;
}

.footer-title:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 30px;
  height: 4px;
  background: #f2cc0f;
}

.footer-links a {
  padding: 10px 0;
  border-bottom: 1px solid #404040;
  color: #f2f2f2;
  display: block;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

.footer-links a:hover {
  color: #f2cc0f;
}

.footer-social-links li {
  display: inline-block;
}

.footer-social-links a {
  width: 40px;
  height: 40px;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  border: 3px solid #404040;
  border-radius: 50px;
  text-align: center;
  color: #f2f2f2;
  line-height: 1;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: #8cbf3f;
}

.footer-social-links a:first-child {
  background-color: blue;
}

.footer-social-links a:nth-child(2) {
  background-color: #3399ff;
}

.footer-social-links a:nth-child(3) {
  background-color: #ff0000;
}

.footer-social-links a:nth-child(4) {
  background-color: #3333ff;
}

/* g. Footer bottom section */
.footer-bottom {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: #f2f2f2;
  background: #8cbf3f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */