body {
    background:
        linear-gradient(to right,
            rgba($baseColorGreen, 0.9),
            rgba($baseColorYellow, 0.6));
}


.counterWrapper {
    border: 6px solid $baseColorPurple;
    border-radius: 30px;
    margin: 25px;
    margin-top: 35px;
    background-color: $baseColorPurple;
}

#counterText {
    text-transform: capitalize;
    text-align: center;
    font-family: $bodyFont2;
    color: $baseColorGreen;
    padding: 5px;
    font-size: 30px;
    border-bottom: 3px solid $baseColorGreen;
}

#counter {
    text-align: center;
    font-size: $bodyFontSize;
    color: $baseColorGreen;
    font-family: $bodyFont2;
    width: 50%;
    margin-left: 25%;
}

.about {
    width: 85%;
    margin: 0 auto;
    font-family: $bodyFont;
}

.about h2 {
    text-align: center;
    color: $baseColorPurple;
    text-decoration: underline;
}

.innerAbout img {
    border: 4px solid $baseColorPurple;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    object-fit: cover;
}

.history {
    @extend .about;
}

.history img {
    border: 4px solid $baseColorPurple;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    height: 30vh;
    object-fit: cover;
}

.corona {
    @extend .about
}


.mayor {
    width: 85%;
    margin: 0 auto;
    font-family: $bodyFont;
}

.mayor p:first-child {
    width: 85%;
}

.innerMayor {
    display:flex;
    flex-direction: column;

}

.innerMayor img {
    margin-right: 20px;
    height: 40vh;
    width: 60%;
    object-fit: cover;
    border: 4px solid $baseColorPurple;
}