* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer {
    padding: 60px 0;
    width: 100%;
    background: $baseColorPurple;
    color: $baseColorWhite;
    font-family: $bodyFont2;

}

.footer-title {
    position: relative;
    color: $baseColorWhite;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}

.footer-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    background: $baseColorYellow;
}

.footer-links a {
    padding: 10px 0;
    border-bottom: 1px solid #404040;
    color: $baseColorWhite;
    display: block;
    transition: color 0.5s ease-in-out;
    text-decoration: none;
}

.footer-links a:hover {
    color: $baseColorYellow;
}

.footer-social-links li {
    display: inline-block;
}

.footer-social-links a {
    width: 40px;
    height: 40px;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    padding: 10px;
    border: 3px solid #404040;
    border-radius: 50px;
    text-align: center;
    color: $baseColorWhite;
    line-height: 1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    background: $baseColorGreen;
}

//facebool
.footer-social-links a:first-child {
    background-color: blue;
}

//twitter
.footer-social-links a:nth-child(2) {
    background-color: #3399ff;
}

//yotube
.footer-social-links a:nth-child(3) {
    background-color: #ff0000;
}

//linkedin
.footer-social-links a:nth-child(4) {
    background-color: #3333ff;
}


// .footer-social-links a:hover {
//     color : $baseColorWhite;
// }

/* g. Footer bottom section */
.footer-bottom {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: $baseColorWhite;
    background: $baseColorGreen;
}