.header-container {
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.headerL {
    @include mobile {
        font-size: 1.5em;
    }
}

.headerR {
    @include mobile {
        display: none;
    }
}

.rightBanner {
    @include mobile {
        display: none;
    }
}

.leftBanner {
    @include mobile {
        display: none;
    }
}

.addsContainer {
    @include tablet {
        display: flex !important;
        flex-direction: column;
    }
}

.sponserPics {
    @include tablet {
        width: 100% !important;
    }
}

// @media (max-width: 890px) {
//     .navbar-expand-sm .navbar-collapse {
//         -ms-flex-flow: row nowrap;
//         flex-flow: row nowrap;
//         -ms-flex-pack: start;
//         justify-content: flex-start
//     }
// }
 .navbar-expand .navbar-collapse {
    @include mobile {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;

    }
}

.footer-social-links {
    @include mobile {
        padding-left: 10px;
        padding-top:10px
    }
}